# Node modules
node_modules/

# Build output directory
dist/

# TypeScript incremental build files
*.tsbuildinfo

# Log files
logs/
*.log

# Runtime data
pids/
*.pid
*.seed

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Other temporary files
tmp/
temp/
